@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Vagas - RH</h1>
    <p class="lead">Ricardo M. Aleixo</p> 
    <p>Inicio 16/10 as 17hs</p>
    <p>Entrega até 19/10 as 17hs</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Candidatos</h2>
        <p>
           Cadastre um candidato, marque a vaga requerida pelo mesmo e as tecnologias referentes a vaga!
        </p>
        <p><a class="btn btn-default" href="/candidato">Candidato&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vagas</h2>
        <p>Cadastre as vagas referente ao processo.</p>
        <p><a class="btn btn-default" href="/vaga">Vagas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>Especifique as tecnologias de acordo com as vagas e seus pesos referente ao processo de seleção.</p>
        <p><a class="btn btn-default" href="/tecnologia">Tecnologias &raquo;</a></p>
    </div>
</div>