@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Vagas - RH</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Candidatos</h2>
        <p>
           Cadastre um candidato, marque a vaga requerida pelo mesmo e as tecnologias referentes a vaga!
        </p>
        <p><a class="btn btn-default" href="/candidato">Candidato&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vagas</h2>
        <p>Cadastre as vagas referente ao processo.</p>
        <p><a class="btn btn-default" href="/vaga">Vagas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>Especifique as tecnologias de acordo com as vagas e seus pesos referente ao processo de seleção.</p>
        <p><a class="btn btn-default" href="/tecnologia">Tecnologias &raquo;</a></p>
    </div>
</div>