@model ProvaTecnica.Rh.Models.Vaga

@{
    ViewBag.Title = "Visualização";
}

<h2>Detalhes do registro</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeVaga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idVaga }) |
    @Html.ActionLink("Vltar a listagem", "Index")
</p>
